{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="my-5">Profile</h1>

        <img src="{{ app.user.gravatar }}" alt="{{app.user.fullName }}'s avatar" class="rounded-circle shadow">
        <p class="lead mt-5">{{ app.user.email }}</p>
        
        <p class="h2">{{ app.user.fullName }}</p>
        
        <p><small>🕒 Account created on {{app.user.createdAt|date('d/m/Y')}}</small></p>
        <p>
            <a href="{{ path('app_account_edit') }}">Edit account</a> | <a href="{{ path('app_account_change_password') }}">Change Password</a>
        </p>
    </div>
</div>
{% endblock %}
