{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Log in!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center mb-3 mt-5">Please sign in</h1>
        <p class="text-muted text-center mb-5">Your pins are waiting for you!</p>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <!-- Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. -->
            <!-- See https://symfony.com/doc/current/security/remember_me.html -->
        
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                        <label for="remember_me" class="from-check-label">
                            Remember me
                        </label>
                    </div>
                </div>
                <a href="{{path('app_forgot_password_request')}}">Forgot Password?</a>
            </div>
        
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in
            </button>
            <p class="mt-5 mb-3 text-center text-muted">Not registered yet? <a href="{{  path('app_register')}}">Create an account</a></p>
        </form>
    </div>
</div>

{% endblock %}
