{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | New Pin{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Create Pin</h1>
        {% include "pins/_form.html.twig" with {"submitValue":"Create Pin"} %}
    </div>
</div>
{% endblock %}