{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit Pin # {{pin.id}} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Edit Pin # {{pin.id}}</h1>
        {% include "pins/_form.html.twig" with {"submitValue":"Edit Pin"} %}
    </div>
</div>
{% endblock %}