{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, "Pin") }}</h1>

        {% for row in pins|batch(3) %}
            <div class="row mb-5">
            {% for pin in row %}
            <div class="col-md-4">
                <article class="pin bg-white rounded shadow">

                    <div class="mw-100 overflow-hidden rounded-top">
                        <a href="{{ path('app_pins_show', {id_pin:pin.id}) }}">
                            <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/default.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ pin.title }}" />
                        </a>
                    </div>

                    <h2 class="h5 pl-3 pt-3">
                        <a class="text-secondary text-decoration-none" href="{{ path('app_pins_show', {id_pin:pin.id}) }}">{{ pin.title }}</a>
                    </h2>
                    <!-- <p>{{ pin.description|u.truncate(10,"...", false) }}</p> -->
                    <p class="pl-3 pb-3 text-muted">
                        <small>Submitted by {{ pin.user.fullName }}</small>
                    </p>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="" class="btn btn-danger m-3" onclick="event.preventDefault(); confirm('Are you sure?') && document.querySelector('#js-pin-form-{{pin.id}}').submit();">&times; Delete</a>
                    <form id="js-pin-form-{{pin.id}}"
                        action="{{ path('app_pins_delete', {pin: pin.id}) }}" 
                        method="POST" 
                        style="display:none;"
                    >
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion' ~ pin.id) }}">
                    </form>
                    {% endif %}
                </article>
            </div>
            {% endfor %}
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pins) }}
        </div>
    {% else %}
            <p class="text-center h1 mt-5">No pins yet. <a href="{{ path('app_pins_create') }}">Be the first!</a></p>
    {% endif %}
{% endblock %}
