{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Show Pin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article class="pin bg-white rounded shadow">

                <div class="mw-100 overflow-hidden rounded-top">
                    <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/default.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ pin.title }}" />
                </div>

                <div class="p-3">
                    <h1 class="h5 text-secondary">
                        {{ pin.title }}
                    </h1>
    
                    <p class="text-muted text-break">
                        <small>Submitted <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}">{{ pin.createdAt|ago }}</time> by {{ pin.user.fullName }} </small>
                    </p>
    
                    <p class="pt-3">{{ pin.description }}</p>

                    {% if is_granted('PIN_EDIT', pin) %}
                    <div class="pt-3">
                        <a class="btn btn-light" href="{{ path('app_pins_edit', {pin: pin.id}) }}">Edit</a>
                        <a class="btn btn-light" href="" onclick="event.preventDefault(); confirm('Are you sure?') && document.querySelector('#js-pin-form').submit();">Delete</a>
                    
                        <form id="js-pin-form"
                            action="{{ path('app_pins_delete', {pin: pin.id}) }}" 
                            method="POST" 
                            style="display:none;"
                        >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion' ~ pin.id) }}">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}