@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

html,body {
    font-family: $primary-font, sans-serif;
}

.navbar-collapse {
    flex-grow: 0;
}


.vich-image {
    img {
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
    div.form-check {
        margin-top: 1em;
    }
}

.pin {
    img:hover {
        transform: scale(1.075);
        transition: all 0.3s ease-out;
    }
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: 0 auto;
}

.flash {
    color: white !important;
    border-radius: 0 !important;
    &-error {
        background-color: red;
    }
    &-success {
        background-color: green;
    }
    &-info {
        background-color: blue;
    }
}

.navbar-nav {
    align-items: center !important;
}