<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Panterest{% endblock %}
        </title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if is_granted('IS_IMPERSONATOR') %}
        <div class="alert text-center alert-danger">
            <a href="{{ impersonation_exit_path(path('app_home') ) }}">Exit impersonation</a>
        </div>
        {% endif %}

        {% include "components/_flash.html.twig" %}
        {% include "components/_nav.html.twig" %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>
        
        {% include "components/_footer.html.twig" %}
    </body>
</html>
