{% for label, messages in app.flashes(["success","error","info"]) %}
{% for message in messages %}
    <div class="flash flash-{{ label }} text-center alert">
        {{ message }}
    </div>
{% endfor %}
{% endfor %}