<nav class="navbar navbar-expand-sm navbar-light bg-ligth mb-4">
    <div class="container">
      <a class="navbar-brand" href="{{ path('app_home') }}">Panterest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-link-div" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-link-div">
        <ul class="navbar-nav float-right">
          {% if app.user %}

          {% if is_granted('ROLE_ADMIN') %} 
          <li style="color: red">
          {% else %}
          <li style="color: green">
          {% endif %}
            {{app.user.fullName}}
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_pins_create') }}">New Pin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account') }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="event.preventDefault();document.getElementById('js-logout-form').submit();" href="#">Logout</a>
          </li>
          <form id="js-logout-form" action="{{path('app_logout')}}" method="POST" style="display: none;">
            <input type="hidden" name="_csrf_token" value="{{csrf_token('logout')}}">
          </form>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{  path('app_register')}}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>