{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Oops! An error occured.</h1>
        <h2>Access forbidden.</h2>
        <p>You cannot access this page. Go back to <a href="{{ path('app_home') }}">Home</a>.</p>
    </div>
</div>

{% endblock %}